
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family:'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}
h1.titre1 {
  font-family:'Poppins', sans-serif;
  font-size: 88px;
  color: white;
  text-align: center;
  background-color: #fcce00;
  margin-top: 0px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
h2.titre2 {
  font-size: 38px;
  height: 53px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color:#ff6b00;
  margin-top: 0px;
  margin-bottom: 4px;
}
.titre-rouge {
  height:32px;
  background-color:#e02020;
  margin-top: 0px;
  margin-bottom: 4px;
}

.titre-violet {
  height:16px;
  background-color:#b620e0;
  margin-top: 0px;
  margin-bottom: 4px;
}
.titre-bleu {
  height:8px;
  background-color:#6236ff;
  margin-top: 2px;
  margin-bottom: 8px;
}
.sub-titre{
  font-family:'Poppins', sans-serif;
  font-size: 30px;
  height: 56px;
  color: black;
  text-align:center;
  margin-bottom: 20px;
  margin-top: 40px;
 
}

.bloc1 {
  display: flex;
}

.bloc-1,
.bloc-1-illu {
  flex-basis: 320px;
  flex-grow: 1;

}

.bloc-1 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.bloc-1-titre {
 font-size: 24px;
 font-weight: 700;
 text-align: justify;
 padding-top: 0;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;

}
.bloc-1-description {
  font-size: 16px;
  text-align: justify;
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;

}
.bloc-1-titre,
.bloc-1-description{
  text-align: justify;
  display: block;
}
.learn-more {
  color: #fcce00 ;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 0;
  padding-right: 10px 10px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  display: block;
  max-width: 200px
  ;
}

.bloc-1-illu {
  background-image: url(../img/bg-yellow.png);
  background-position: top left ;
  background-size: auto 100% ;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.bloc-1-image {
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;


} 

.bloc2 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bloc-2,
.bloc-2-illu {
  flex-basis: 320px;
  flex-grow: 1;

}

.bloc-2 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.bloc-2-titre {
 font-size: 24px;
 font-weight: 700;
 text-align: justify;
 padding-top: 0;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;

}
.bloc-2-description {
  font-size: 16px;
  text-align: justify;
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;

}
.bloc-2-titre,
.bloc-2-description{
  text-align: justify;
  display: block;
}
.learn-more2 {
  color: #ff6b00 ;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 0;
  padding-right: 10px 10px;
  border-radius: 15px;
  border: solid 4px #ff6b00;
  display: block;
  max-width: 200px
  
}

.bloc-2-illu {
  background-image: url(../img/bg-orange.png);
  background-position: top right ;
  background-size: auto 100% ;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.bloc-2-image {
  display: block;
  max-width: 70%;
   mix-blend-mode: darken;
} 

.rectangle1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle-1,
.rectange-1-illu {
  flex-basis: 320px;
  flex-grow: 1;

}

.rectangle-1 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.rectangle-1-titre{
 font-size: 24px;
 font-weight: 700;
 text-align: justify;
 padding-top: 0;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;
 color: #ffffff;

}
.rectangle-1-description {
  font-size: 16px;
  text-align: justify;
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  color: #ffffff;

}
.rectangle-1-titre,
.rectangle-1-description{
  text-align: justify;
  display: block;
}
.learn-more-rectangle {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 0;
  padding-right: 10px 10px;
  border-radius: 15px;
  border: solid 4px white;
  display: block;
  max-width: 200px
}

.rectange-1-illu, .rectangle1 {
background-image: url(../img/bg-red.png);
display: flex;
background-position: left bottom;
background-size: auto 100%;
width: auto 100%;
justify-content: left end;
margin-left: auto;
margin-right: auto ;
}
.rectangle-1-image {
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
} 
.rectangle2 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle-2,
.rectange-2-illu {
  flex-basis: 320px;
  flex-grow: 1;

}

.rectangle-2 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.rectangle-2-titre{
 font-size: 24px;
 font-weight: 700;
 text-align: justify;
 padding-top: 0;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;
 color: #ffffff;

}
.rectangle-2-description {
  font-size: 16px;
  text-align: justify;
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  color: #ffffff;

}
.rectangle-2-titre,
.rectangle-2-description{
  text-align: justify;
  display: block;
}
.learn-more-rectangle2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 0;
  padding-right: 10px 10px;
  border-radius: 15px;
  border: solid 4px white;
  display: block;
  max-width: 200px
  
}
.rectange-2-illu, .rectangle2 {
background-image: url(../img/bg-violet.png);
display: flex;
background-position: left bottom;
background-size: auto 100%;
width: auto 100%;
justify-content: left end;
margin-left: auto;
margin-right: auto ;
}
.rectangle-2-image {
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
} 
.rectangle3 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle-3,
.rectange-3-illu {
  flex-basis: 320px;
  flex-grow: 1;

}

.rectangle-3 {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.rectangle-3-titre{
 font-size: 24px;
 font-weight: 700;
 text-align: justify;
 padding-top: 0;
 padding-right: 32px;
 padding-bottom: 32px;
 padding-left: 32px;
 color: #ffffff;

}
.rectangle-3-description {
  font-size: 16px;
  text-align: justify;
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  color: #ffffff;

}
.rectangle-3-titre,
.rectangle-3-description{
  text-align: justify;
  display: block;
}
  .learn-more-rectangle3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 0;
    padding-right: 10px 10px;
    border-radius: 15px;
    border: solid 4px white;
    display: block;
    max-width: 200px
}
.rectange-3-illu, .rectangle3 {
background-image: url(../img/bg-blue.png);
display: flex;
background-position: left bottom;
background-size: auto 100%;
width: auto 100%;
justify-content: left end;
margin-left: auto;
margin-right: auto ;
}
.rectangle-3-image {
  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
} 

.bloc-noir {
  background-color: black;
  padding-top: 10px;
  
  }

.grille {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    flex-shrink: 0;
    font-weight: inherit;
    box-sizing: border-box;
}

.sub-titre2 {
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 50px;
    height: 56px;
    text-align:center;
    margin-bottom:50px ;
    margin-top: 0;
}

.image-jeu { 
  padding-top: 10px;
  padding-bottom: 10px;
}

.jeu1 {
  width: 100%;
  position: relative;
}
.game-content1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .80);
  border-radius: 5px;
  padding: 16px;
  opacity: 0;
  transition: opacity 200ms;
}
.jeu1:hover, .game-content1 {
  opacity: 1;

}
.game-content1 > *{
  transform: translateY(30px);
  transition: transform 200ms;
}

.jeu1:hover, .game-content1 >*{
  transform: translateY(10px);
}
.jeu2 {
  width: 100%;
  position: relative;
}
.game-content2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.80);
  border-radius: 5px;
  padding: 16px;
  opacity: 0;
  transition: opacity 200ms;
}
.jeu2:hover, .game-content2 {
  opacity: 1;

}
.game-content2 > *{
  transform: translateY(30px);
  transition: transform 200ms;
}

.jeu2:hover, .game-content2 >*{
  transform: translateY(10px);
}
.game-categorie{
  font-size:  14px;
  text-align: center;
  color: white;
  font-weight: 200;

}
.game-titre-jaune{
  font-size: 32px;
  text-align: center;
  color: #fcce00;
  font-weight: bold;
}
.game-titre-orange{
  font-size: 32px;
  text-align: center;
  color: #ff6b00;
  font-weight: bold;
}
.game-description{
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 300;
}

h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 50px;
  color: white;
  text-align: center;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: black;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: white;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}
textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
  background-color: black;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}